.react-calendar {
    width: 30vw;
    height: fit-content;
    background-color: white;
    color: var(--darkblue);
    border-radius: 1.25vh;
    border: 0;
    line-height: 1.25vh;
    padding-top: 1.25vh;
    padding-bottom: 2.5vh;
    padding-inline: .75vw;

    box-shadow: var(--darkdarkblue) 0px 20px 25px -5px, var(--darkdarkblue) 0px 10px 10px -5px;
  }

  .react-calendar__navigation {
    padding-inline: 0;
    margin-inline-end: 0;
    margin-bottom: 3vh;
    width: 100%;
  }
  
  .react-calendar__navigation button {
    color: var(--darkblue);
    left: 0;
    padding-inline: .5vw;
    background: none;
    font-size: 1.5vw;
    margin-top: 1.5vh;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
   background-color: white;
  }
  
  .react-calendar__navigation button[disabled] {
   background-color: white;
  }
  
  abbr[title] {
    text-decoration: none;
    font-size: 1vw;
  }

  .react-calendar__tile {
    font-size: 1vw;
    width: 1.5vw;
    padding-inline: .5vw;
    padding-block: 1.25vh;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
   background: white;
   color: var(--darkblue);
  }
  
  .react-calendar__tile--now {
    background: #6f48eb33;
    font-weight: bold;
    color: var(--darkblue);
   }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
   background: #6f48eb33;
   font-weight: bold;
   color: var(--darkblue);
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
   background: white;
  }

  .react-calendar__tile--active {
    background: var(--darkblue);
    font-weight: bold;
    color: white;
   }

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 background: var(--darkblue);
 color: white;
}

.react-calendar__tile--active abbr {
  background-color: transparent;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: white;
   }

.react-calendar__tile--range {
    background: white;
    color: var(--darkblue);
   }

.react-calendar__tile--rangeStart {
    background: var(--darkblue);
    color: white;
   }

.react-calendar__tile--rangeEnd {
    background: var(--darkblue);
    color: white;
   }