.single-task-page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
  }
  
  .single-task-header {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 3vh;
  }

  .calendar-half {
    width: 50%;
  }

  .journal-half {
    width: 50%;
  }
  
  .closed-calendar {
    position: absolute;
    background-color: var(--discordblue);
    top: 50%;
    left: 25%;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform-origin: center;
    transition: width .5s, height .5s
  }
  
  .closed-calendar:hover {

    width: 30vh;
    height: 30vh;
    cursor: pointer;
  }
  
  .closed-journal {
    position: absolute;
    background-color: #7289da;
    top: 50%;
    right: 25%;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform-origin: center;
    transition: width .5s, height .5s
  }
  
  .closed-journal:hover {
    width: 30vh;
    height: 30vh;
    cursor: pointer;
  }

  .animate-opening {
    border-radius: 0;
    pointer-events: none;
    width: 50%;
    height: 100%;

    transition: border-radius 1s, width 1s, height 1s;
  }

  .animate-closing {
    border-radius: 50%;
    width: 25vh;
    height: 25vh;

    transition: border-radius 1s, width 1s, height 1s;
  }
  
  .opened-calendar {
    position: absolute;
    background-color: var(--discordblue);
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }

  .calendar-animate-close {
    transition: left .5s;
    left: -50%
  }
  
  .opened-journal {
    position: absolute;
    background-color: var(--discordblue);
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }

  .journal-animate-close {
    transition: right .5s;
    right: -50%
  }
  
  .calendar-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 4vh 2.5vw;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .calendar-events-container {
    margin: 0 2.5vw;
    padding: 1.5vh 1.5vw;
    border-radius: 1.5vh;
    background-color: white;
    line-height: .75vh;
    text-align: left;
    height: 50%;

    box-shadow: var(--darkdarkblue) 0px 20px 25px -5px, var(--darkdarkblue) 0px 10px 10px -5px;
  }
  
  .calendar-events-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .75vh;
    font-size: .85vw;
  }

  .calendar-events-list {
    height: 85%;
    width: 100%;
    padding-right: 1vw;
    overflow: auto;
  }
  
  .calendar-event-card {
    background-color: var(--lightbluegrey);
    padding: 1.5vh 1.5vw;
    margin: 1vh 0;
    border-radius: 2vh;

    display: flex;
    flex-direction: column;
  }

  .calendar-event-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vh;
  }
  
  .calendar-event-text {
    width: 100%;
    font-size: 2.25vh;
    line-height: 2.25vh;
    height: auto;
    overflow: hidden;

    text-decoration: line-through;
    text-decoration-color: transparent;
    transition: text-decoration-color .5s;
  }

  .calendar-event-text p {
    margin-block: .5vh;
  }

  .calendar-event-text:hover {
    text-decoration-color: var(--lightred);
    cursor: pointer;
  }

  .slider {
    height: 0;
	  width: 0;
    padding: 0;
    margin-top: -.5vw;
	  visibility: hidden;
  }

  .notif-switch {
    cursor: pointer;
    width: 3.5vw;
    height: 2vw;
    margin-right: 1vw;
    background: var(--lightbluegrey);
    display: block;
    border-radius: 3vh;
	  position: relative;
  }

  .notif-switch::after {
    content: '';
    position: absolute;
    top: .25vw;
    left: .25vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: var(--darkdarkblue);
    border-radius: 50%;
    transition: 0.3s;
  }

  .slider:checked + .notif-switch {
    background: var(--darkblue);
  }

  .slider:checked + .notif-switch::after {
    left: calc(100% - .25vw);
	  transform: translateX(-100%);
  }

  .notif-switch:active::after {
    width: 1.5vw;
  }

  .add-event {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: .5vw;
    border-radius: 1vh;
    background-color: white;

    transition: background-color .5s;
  }

  .add-event:hover {
    background-color: var(--lightblue);
    cursor: pointer;
  }
  
  .journal-top-pad {
    height: 5%;
  }

  .add-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: .5vw;
    border-radius: 1vh;
    background-color: white;

    transition: background-color .5s;
  }

  .add-entry:hover {
    background-color: var(--lightblue);
    cursor: pointer;
  }
  
  .journal-entries-container {
    margin: 0 2.5vw;
    padding: 1.5vh 1.5vw;
    border-radius: 1.5vh;
    background-color: white;
    line-height: .75vh;
    text-align: left;
    height: 87%;

    box-shadow: var(--darkdarkblue) 0px 20px 25px -5px, var(--darkdarkblue) 0px 10px 10px -5px;
  }
  
  .journal-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .75vh;
    font-size: 1vw;
  }

  .journal-entries-list {
    height: 90%;
    width: 100%;
    padding-right: 1vw;
    overflow: auto;
  }

  .journal-entry-card {
    background-color: var(--lightbluegrey);
    padding: 1.5vh 1.5vw;
    padding-bottom: 2vh;
    margin: 1vh 0;
    border-radius: 1em;
  }
  
  .journal-entry-card h1 {
    padding-bottom: .5vh;
    font-size: 1.5vw;
  }

  .journal-entry-card h2 {
    padding-bottom: .5vh;
    font-size: 1.25vw;
  }

  .journal-entry-text {
    line-height: 2.5vh;
    font-size: 1vw;
    text-decoration: line-through;
    text-decoration-color: transparent;

    transition: text-decoration-color .5s;
  }

  .journal-entry-text:hover {
    text-decoration-color: var(--lightred);
    cursor: pointer;
  }
  
  ::-webkit-scrollbar {
    width: 1vw;
  }
  
  ::-webkit-scrollbar-track {
    margin-block: 1vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--lightbluegrey);
    border-radius: .5vw;
    border: white .25vw solid;
  }

  .new-calendar-event {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: fit-content;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 1vh 1vw var(--discordblue), -1vh -1vw var(--discordlightgrey);
    border-radius: 2vh;
    padding-inline: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .new-calendar-event h1 {
    font-size: 1.75vw;
    margin-bottom: 0;
  }

  .new-calendar-form-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1vw;
    margin-block: .5vh;
  }

  .new-calendar-event-title {
    padding: 1vh;
    padding-inline: .75vw;
    border: 1px solid black;
    border-bottom: .5vh solid black;
    font-size: 2vh;
    height: 5vh;
    resize: none;
  }

  .submit-btn {
    background-color: white;
    border: 1px solid black;
    font-size: 1.25vw;
    border-bottom: .5vh solid black;
    width: fit-content;
    padding-inline: .5vw;
    padding-block: .5vh;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: var(--discordlightgrey);
  }

  .submit-btn:active {
    background-color: var(--discordlightgrey);
    border-bottom: 1px solid black;
    margin-top: calc(.5vh - 1px);
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  /* .new-journal-entry {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: -1vh 1vw var(--discordblue), 1vh -1vw var(--discordlightgrey);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
    padding-inline: 1.5em;
    
  }

  .new-journal-entry h1 {
    line-height: 0;
  }

  .new-journal-entry .btn-container {
    width: 90%;
  }

  .new-journal-entry-body {
    width: 100%;
    height: 70%;
    transform: translate(0, -5%);
  }

  .journal-field {
    padding: .5em;
    width: 90%;
    height: 100%;
    resize: none;
    border: 1px solid black;
    border-bottom: .25em solid black;
    font-size: 1.5em;
  } */

  .habit-collection { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: width .5s, height .5s;
  }

  .habit-ribbon {
    width: fit-content;
    height: 5vh;
    display: flex;
    white-space: nowrap;
    overflow: hidden;

    transform-origin: center left;
    transition: transform 1s
  }

  .habit-ribbon:hover {
    cursor: pointer;
    transform: scale(1.5, 1.25);
  }

  .habit-ribbon-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .habit-ribbon-text {
    font-size: 1vw;
    padding-inline: .5vw;
    vertical-align: middle;
    
    transform-origin: center left;
    transition: transform 1s;
  }

  .habit-ribbon:hover .habit-ribbon-text {
    transform: scale(.67, .8);
  }

  .habit-ribbon-triangles {
    width: 3vw;
    display: flex;
    flex-direction: column;
  }

  .ribbon-top, .ribbon-bottom {
    width: 100%;
    height: 50%;
  }