.journal-prompt {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    
  }

  .journal-input {
    width: 100%;
    padding: 2vh;
    padding-inline: 3vh;
    font-size: 2vh;
    border-radius: 4vh;
    border: 0px solid var(--discordblue);
    box-shadow: 2vh 1.5vh var(--darkblue);
  }
