.recommendations-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .recommendations-header {
    position: relative;
    font-size: 2.5vw;
    line-height: 5vw;
    color: white;
    width: 90vw;
    text-align: center;
  }

  .recommendations-header h1 {
    margin-block: 0;
    margin-top: 5%;
  }
  
  .card-carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    height: 50%;
    margin-bottom: 10%;

    transform: translate(-50%, 0)
  }
  
  .recommendation-card {
    opacity: 0.6;
    min-width: 300px;
    width: 15vw;
    margin: 1vh;
    height: 75%;
    text-align: center;
    border-radius: 1vh;
    transition: transform .5s, opacity .5s;
  }

  .recommendation-card h1 {
    font-size: 1.25vw;
  }

  .recommendation-card .recommendation-title {
    min-height: 25%;
    height: 25%;
    transition: height .9s;
  }
  
  .recommendation-card:hover {
    opacity: 1;
    transform: scale(1.125);
    cursor: pointer;
  }

  .recommendation-card:hover .recommendation-title {
    height: 50%;
  }
  
  .recommendation-title {
    background-color: var(--darkblue);
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    flex-direction: column;
  }

  .recommendation-title h1 {
    padding-inline: 1vh;
    margin-block: 0;
    vertical-align: middle;
  }

  .recommendation-title h1 span {
    background-color: var(--darkdarkblue); 
  }
  
  .recommendation-text {
    background-color: white;
    padding: 1.5vh;
    padding-block: 1vh;
    color: black;
    height: 75%;
    bottom: 100%;
    text-align: left;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    overflow: auto;
  }

  .recommendation-link {
    text-align: right;
    color: white;
    padding: 1vh;
    padding-bottom: 0;
  }