.recommendations-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .recommendations-header {
    position: relative;
    font-size: 2.5vw;
    line-height: 5vw;
    color: white;
    width: 90vw;
    text-align: center;
  }

  .recommendations-header h1 {
    margin-block: 0;
    margin-top: 2vh;
  }
  
  .card-carousel {
    display: flex;
    align-items: center;
    padding-top: 0;
    min-width: 300px;
    width: 85%;
    height: fit-content;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .recommendation-card {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 500px;
    margin-inline-end: 1vw;
    border-radius: 2vh;
  }

  .recommendation-title {
    height: 200px;
  }

  .recommendation-card h1 {
    font-size: 2.5vh;
  }

  
  .recommendation-title {
    background-color: var(--darkblue);
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    display: flex;
    flex-direction: column;
  }

  .recommendation-title h1 {
    padding-inline: 1vh;
    margin-block: 0;
  }

  .recommendation-title h1 span {
    background-color: var(--darkdarkblue); 
  }
  
  .recommendation-text {
    background-color: white;
    padding-inline: 1.5vh;
    padding-block: 0;
    color: black;
    height: 300px;
    bottom: 100%;
    text-align: left;
    overflow: auto;
  }

  .recommendation-link {
    text-align: right;
    color: white;
    padding: 1vh;
    padding-bottom: 0;
    cursor: pointer;
    opacity: 1;
  }

  .card-carousel::-webkit-scrollbar {
    height: 1.5vh;
  }

  .card-carousel::-webkit-scrollbar-thumb {
    background: var(--darkdarkblue);
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
  }