.task-collection {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
  }
  
  .task-card {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;

    transition: width 1s, height 1s;
  }
  
  .task-card:hover {
    height: 85%;
    width: 150%; 
    cursor: pointer;
  }
  
  .task-card-text {
    height: 75%;
  }
  
  .task-card h1 {
    text-align: center;
  }
  
  .task-card p {
    padding: 0 .5em;
    font-size: 1.125em;
  }
  
  .task-card-triangles {
    height: 0%;
    display: flex;
    flex-direction: row;

    transition: height .5s;
  }

  .task-card:hover .task-card-triangles {
    height: 25%;
  }
  
  .task-card-right-triangle, .task-card-left-triangle {
    width: 50%;
    height: 100%;
  }
  