@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --lightblue: #D4D4FF;
  --babyblue: #96B9ED;
  --discordblue: #7289da;
  --discordlightgrey: #99aab5;
  --discorddarkgrey: #2c2f33;
  --darkblue: #6464C8;
  --darkdarkblue: #323296;
  --lightbluegrey: #C8C8E1; 
  --lightred: #ff8880;
}

body {
  margin: 0;
  font-family: 'Poppins', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--babyblue);
  display: grid;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:hover {
  cursor: pointer;
}

.webpage-container {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-journal .webpage-container {
  position: absolute;
  top: 15%;
  width: 100%;
}

.webpage-link {
  font-size: 4vw;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;

  background: linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ), linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  background-size: 100% 5px, 0 5px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .75s;

  transform-origin: center;
}

.webpage-link h1 {
  line-height: 0;
  animation: wiggle 3s infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  90% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.webpage-link:hover {
  background-size: 0 5px, 100% 5px;
  cursor: pointer;
}

.webpage-subtitle {
  font-size: 2.5vw;
  color: white;
  line-height: 0;
  width: fit-content;
  text-align: center;
}

.main-journal .webpage-subtitle {
  font-size: 4vw;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  background-color: var(--lightblue);
  transform: translate(
    var(--parallax-x, 0),
    var(--parallax-y, 0)
  );

  transition: transform 5s cubic-bezier(0.1, 1.0, 1.0, 0.1);
}

.warp-btn {
  position: absolute;
  border-radius: 50%;
  background-color: var(--discordblue);
  color: white;
  transform: translate(-50%, -50%);
  opacity: 0.75;
  width: 20vh;
  height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;

  transition: width .5s, height .5s;
}

.warp-btn:hover {
  cursor: pointer;
  width: 25vh;
  height: 25vh;
}

.warp-btn h1 {
  font-size: 2.5vh;
}

.surrounding-bubbles {
  position: absolute;
  background-color: var(--discordblue);
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
}